/* FILENAME: src/StaffDashboard.css*/

#staff-dashboard .container {
    width: 100%;
    max-width: 1200px; 
    margin-left: auto;
    margin-right: auto;
}

#staff-dashboard {
    text-align: center; 
}

.dashboard-header {
    text-align: center;
    margin-bottom: 2rem;
}

.scanner-view {
    margin: 0 auto; 
    display: block; 
    max-width: 400px; 
    padding: 3rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.btn-large-scan {
    display: block;
    width: 100%;
    padding: 1.5rem 1rem;
    font-size: 1.2rem;
}

.section-title {
    text-align: center; 
    margin-bottom: 3rem;
    font-size: 2rem;
}